html{
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
body{
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #242424;
}
img{
  display: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #eeeeee;
}
::-webkit-scrollbar-thumb {
  background: #808080;
}
::-webkit-scrollbar-thumb:hover {
  background: #505050;
}
#topBar{
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 20px;
  background-color: #2e2e2e;
  color: #ffffff;
  float: left;
}
#main{
  position: fixed;
  left: 0;
  top: 20px;
  width: 100%;
  height: calc(100% - 20px);
  background-color: #242424;
  color: #ffffff;
  float: left;
}
#applicationPreviewContainer{
  border: 1px solid #111111;
  left: 0px;
  top: 20px;
  width: 480px;
  height: 480px;
  background-color: #171717;
  color: #ffffff;
  float: left;
}
#applicationPreview{
  width: 100%;
  height: 100%;
}
#editorContainer{
  position: fixed;
  left: 500px;
  width: calc(100% - 500px);
  height: 270px;
  background-color: #242424;
  color: #ffffff;
}
#editor{
  color: #eeeeee;
  padding: 0px;
  text-align: left;
  width: 100%;
  height: 100%;
  background-color: #2e2e2e;
  border: 1px solid #111111;
}
